{% extends "base/base.html" %}
{% block title %}
    Home
{% endblock %}
{% block databases %}
    <li><a href="#ul_databases" aria-expanded="false" data-toggle="collapse"> <i
            class="icon-interface-windows"></i>DataBases</a>
        <ul id="ul_databases" class="collapse list-unstyled">
            {% for db_schema in db_schemas %}
                <li><a id="{{ db_schema.id }}">{{ db_schema.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}
{% block content %}
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#"
                                                                                                     class="dropdown-item remove">
                                    <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i
                                        class="fa fa-gear"></i>Edit</a></div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4 col-lg-3">SQL</h3>
                            {% if db_schema_id %}
                                {% for db_schema in db_schemas %}
                                    {% if db_schema.id == db_schema_id %}
                                        <span class="mx-sm-3 btn btn-info"
                                              id="span_db_schema_id">{{ db_schema.name }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <span class="hidden" id="span_db_schema_id"></span>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <form id="form_query" class="form-inline" action="/home/" method="post">
                                {% csrf_token %}
                                <div class="form-group form-group-lg col-lg-10">
                                    <label for="sql" class="sr-only">SQL</label>
                                    <textarea id="sql" name="sql" type="text" placeholder="SQL"
                                              class="col-lg-10 mx-sm-6 form-control">{% if sql %}
                                        {{ sql }}{% endif %}</textarea>
                                </div>
                                {% if db_schema_id %}
                                    <input type="hidden" name="db_schema_id" id="db_schema_id"
                                           value="{{ db_schema_id }}"/>
                                {% else %}
                                    <input type="hidden" name="db_schema_id" id="db_schema_id"/>
                                {% endif %}
                                <input type="hidden" name="page_num" id="page_num"/>
                                <div class="form-group">
                                    <input type="submit" id="btn_exec" value="Exec" class="mx-sm-6 btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tables">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if error %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×
                            </button>
                            {{ error }}
                        </div>
                    {% endif %}
                    <div class="card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#"
                                                                                                     class="dropdown-item remove">
                                    <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i
                                        class="fa fa-gear"></i>Edit</a></div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Query Set</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="result_table" class="table table-striped table-hover" data-toggle="table">
                                    <thead>
                                    <tr>
                                        {% for item in table_desc %}
                                            <th>{{ item.0 }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in page_result %}
                                        <tr>
                                            {% for item in row %}
                                                <td>{{ item }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <h1>
                                <span class="badge badge-default">rows: &nbsp;&nbsp;{{ paginator.count }}</span>
                            </h1>
                        </div>
                        <div class="d-flex justify-content-center">
                            <nav aria-label="Page navigation" class="my-4 pt-2">
                                <ul class="pagination pagination-circle pg-blue mb-0" id="ul_pagination">
                                    {% if page_result.has_previous %}
                                        <li>
                                            <a id="page_{{ page_result.previous_page_number }}" class="page-link"
                                               aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for pg in page_result.paginator.page_range %}
                                        {% if  page_result.number|add:-5 < pg and page_result.number|add:5 > pg %}
                                            {% if page_result.number == pg %}
                                                <li class="page-item active">
                                                    <a class="page-link" id="page_{{ pg }}">{{ pg }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" id="page_{{ pg }}">{{ pg }}</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_result.has_next %}
                                        <li class="page-item">
                                            <a id="page_{{ page_result.next_page_number }}" class="page-link"
                                               aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $("#ul_databases a").click(function () {
                $(this).addClass("hover");
                $("#db_schema_id").val($(this).attr("id"))
                $("#span_db_schema_id").addClass("mx-sm-3 btn btn-info").show().text($(this).text())
            });

            $("#ul_pagination a").click(function () {
                page_num = $(this).attr("id").slice(5)
                $("#page_num").val(parseInt(page_num))
                $("#form_query").submit()
            });
        })
    </script>
{% endblock %}

